body{
    background-color: #e5e5e5;
}

.section--1{
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section--2{
    background-color: #e5e5e5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar{
    background-color: #354955;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: #fff;
}

.hero{
    background-color: #1F2428;
    min-height: 70vh;
    color: #fff;
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content{
    width: 800px;
    margin: 0 auto;
    padding-top: 3em;
}

.hero--content--intro{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3em;
}

.hero--content--subheadline{
   text-align: center; 
}

.intro--name{
    font-size: 100px;
    letter-spacing: .1em;
    font-weight: 700;
    line-height: .9em;
}

.description{
    font-size: 65px;
    text-align: center;
}

.slogan{
    font-size: 24px;
    text-align: center;

}

.project--column{
    width: 300px;
}

.project--wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
}

.project--wrapper::-webkit-scrollbar {
    width: 2px;
}

.project--wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0,3);
}

.project--wrapper::-webkit-scrollbar-thumb{
    background-color: #17a2b8;
    outline: 1px solid slategray;
    border-radius: 100px;
}

.project--thumbnail{
    width: 100%;
}

.project--body{
    background-color: #fff;
    padding: 1em;
}

.skills--container{
    width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.skills--wrapper{
    margin-top: 2em;
    margin-bottom: 2em;

}

.other--skills--wrapper{
    display: flex;
    gap: 1em;
}

.skills--tag{
    background-color: #c4e7f2;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px ;
}

.project--image{
    max-width: 800px;
}

.contact--form{
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

@media(max-width: 900px) {
    .hero--content--intro{
      flex-direction: column;   
    }

    .project--wrapper{
        grid-template-columns: 1fr;
        
    }
}


@media(max-width: 800ox) {
    .hero--content{
        width: 100%;  
    }
}


@media(max-width: 600px) {
   
    .skills--container{
        width: 100%;    
    }
}